@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Mirza:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed',
        sans-serif;
    font-family: 'Mirza',
        cursive;
}

body {
    background: url("../img/background.png") no-repeat center;
    color: white;
    background-size: 120% 120vh;
    overflow: hidden;
}

#container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:-18rem;
}

.question-section {
    width: 80%;
    height: 600px;
}

#heading {
    position:relative;
    left:10rem;
    font-size: 3.2rem;
    margin: 20px;
    margin-top:2rem;
    border: 0;
    padding: 5px;
    width: 100vw;
}


.login-section {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    margin: 20px;
}

#main-image {
    width: 55%;
    height: 90%;
    margin-top: 1.5rem;
}


#login {
    width: 45%;
    height: 100%;
}
#login label{
    color:white;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 90%;
    width: 100%;
    border-radius: 10px;

}

#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    margin-right: 10%;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactForm {
    display: flex;
    background-color: #00000066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 56vh;
    width: 28vw;

}
#adminbutton {
    display: flex;
    background-color: #00000066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 56vh;
    width: 100vw;
    margin-right:5vw;

}
#admin-button{
    color:black;
    background-color:white;
    font-family: 'Oswald', sans-serif;
    padding:6px;
    width:75%;
    font-size: 1.12rem;
    border-radius:6px;
    cursor: pointer;
    margin-top:2rem;

}
#test{
    position: absolute;
    display: flex;
    background-color: #00000066;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 56vh;
    width: 25vw;
    right:3rem;
}
#test-id{
    margin-top:2rem;
    /* margin-bottom:0.89rem; */
 }

label {
    font-size: 1.7em;

}

input {
    font-size: 1.3em;
    width: 75%;
    height: 45px;
    border: 0;
    border-radius: 6px;
    margin: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.35rem;;
    padding: 10px;
}

input:hover,
input:focus,
input:active {
    /* outline: none !important; */
    /* border: none !important; */
    /* box-shadow: none; */
    color: black;
}


#start-test-button {
    color:black;
    background-color:white;
    font-family: 'Oswald', sans-serif;
    padding:6px;
    width:75%;
    font-size: 1.12rem;
    border-radius:6px;
    cursor: pointer;
    margin-top:2rem;
}

#submit-button:hover {
    background-color: rgb(86, 191, 223);
}
/* mobile css */

@media only screen and (min-device-width: 375px) and (max-device-width: 1050px) {
    .login-section {
        width: 800px;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 832px) {
    .login-section {
        width: 600px;
    }

    #heading {
        font-size: 30px;
    }

    #main-image,
    #login {
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
    }

    #contactForm {
        height: 60%;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 650px) {

    .login-section {
        width: 400px;
        flex-direction: column;
    }

    #login {
        height: 80vh;
    }

    img {
        height: 70%;
    }

    #contactForm {
        height: 100%;
        margin: 0 10px 0 10px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 420px) {


    #main-image {
        width: 80%;
        height: 80%;
        margin-right: 0;
    }

    .login-section {
        justify-content: center;
        align-items: center;
    }

    #login {
        width: 80%;
        
    }
}